<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .grey{
            background: #cccccc;
        }
    </style>
    <script src="../assets/js/vue1.js"></script>
    <script src="../assets/js/vue-resource.js"></script>
    <script>
    window.onload = function () {  
        new Vue({
            el: "#box",
            data: {
                t1: '',
                now: -1,
                myData: []
            },
            methods: {
                get: function (e) {  
                    if (e.keyCode == 38 || e.keyCode == 40) {
                        return;
                    }
                    if (e.keyCode == 13) {
                        window.open("https://www.baidu.com/s?wd=" + this.t1)
                    }
                    this.$http.jsonp("https://sug.so.360.cn/suggest", {
                        params: {
                            word: this.t1
                        }
                    }).then(function (resp) {
                        debugger;
                        var result = resp;
                        this.myData = resp.data.s;
                        console.log(resp.data.s);
                    }, function () {
                        console.log("发送失败" + response.status + "," + response.statusText);
                    });  

                },

                changeDown: function () {  
                    this.now++;
                    if (this.now == this.myData.length) {
                        this.now = -1;
                    }
                    this.t1 = this.myData[this.now];
                },

                changeUp: function () {  
                    this.now--;
                    if (this.now == -2) {
                        this.now = this.myData.length;
                    }
                    this.t1 = this.myData[this.now];
                }
            }
        })
    }
    </script>
</head>
<body>
    <div id="box">
        <input type="text" v-model="t1" @keyup="get($event)" @keydown.down="changeDown()" @keydown.up.prevent
        ="changeUp()">
        <ul>
            <li v-for="value in myData" :class="{grey:$index==now}">
                {{value}}
            </li>
        </ul>
        <p v-show="myData.length == 0">暂无数据...</p>
    </div>
</body>
</html>