<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model 绑定数据源</title>
    <script src="../assets/js/vue2.js"></script>
    <script>
        window.onload = function () {  
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'hello vue!',
                    lazyMessage: '.lazy',
                    trimMessage: '.trimMessage',
                    areaMessage: '',
                    isTrue: true,
                    web_names:[],
                    sex: '男'
                }
            })
        }
    </script>
</head>
<body>
    <div id="app">
        <p>原是文本信息: {{message}}</p>
        <h3>文本框</h3>
        <p>v-model : <input type="text" v-model="message"></p> <br/>
        <p>懒加载文本信息: {{lazyMessage}}</p>
        <p>v-model .lazy 懒加载 鼠标失去焦点时加载:
            <input type="text" v-model.lazy="lazyMessage">
        </p><br/>
        <p>去空格文本信息: {{trimMessage}}</p>
        <p>v-model .trim 懒加载 鼠标失去焦点时加载:
            <input type="text" v-model.trim="trimMessage">
        </p>
        <hr>
        <h3>文本域 {{areaMessage}}</h3>
        <textarea v-model="areaMessage" cols="30" rows="10"></textarea>
        <hr>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox"  id="isTure" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <h3> 多选框绑定多个值(数组)  此处如果想给input的value动态赋值  应该写成 :value = '被循环的对象.属性'</h3>
        <input type="checkbox" id="a" value="a" v-model="web_names">
        <label for="a">a</label>
        <input type="checkbox" id="b" value="b" v-model="web_names">
        <label for="b">b</label>
        <input type="checkbox" id="c" value="c" v-model="web_names">
        <label for="c">c</label>
        <p>{{web_names}}</p>
        <h3>单选按钮绑定</h3>
        <input type="radio" id="1" value="男" v-model="sex">
        <label for="1">男</label>
        <input type="radio" id="2" value="女" v-model="sex">
        <label for="isTrue">女</label>
        
        <p>{{sex}}</p>
    </div>
</body>
</html>